#!/usr/bin/env python
# -*- coding: utf-8 -*-


DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('Admin of the day', 'admin@localhost'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',	# Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'nafi.db',							# Or path to database file if using sqlite3.
        'USER': '',								# Not used with sqlite3.
        'PASSWORD': '',							# Not used with sqlite3.
        'HOST': '',								# Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',								# Set to empty string for default. Not used with sqlite3.
    }
}

TIME_ZONE = 'Europe/Berlin'

LANGUAGE_CODE = 'de-de'


# Make this unique, and don't share it with anybody.
# generate it like so:
# python -c 'import random; print("".join([random.choice("abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)") for i in range(50)]))'
SECRET_KEY = 'put a long string here.'

