{% extends "base.html" %}
{% block content %}
<script>
  $(function() {
    $("#blubber").load("/{{timestamp}}/ajax/");
  });
</script>
<style>
  table {
    border-style:solid dotted;
    border-collapse: collapse;
  }

</style>
<div align=center>
<h1>FeedFilter</h1>
<b><a href="http://gpnews.noova.de/{{timestamp}}/rss/">http://gpnews.noova.de/{{timestamp}}/rss/</a></b><br/>
<a href="http://gpnews.noova.de/{{timestamp}}/atom/">http://gpnews.noova.de/{{timestamp}}/atom</a><br/>
<a href="http://gpnews.noova.de/{{timestamp}}/html/">http://gpnews.noova.de/{{timestamp}}/html/</a>
</div>
<!--
<table width=900><tr><td><h1>FeedFilter</h1></td><td>
  <br /><b><a href="http://gpnews.noova.de/{{timestamp}}/rss/">http://gpnews.noova.de/{{timestamp}}/rss/</a></b><br />
    <a href="http://gpnews.noova.de/{{timestamp}}/atom/">http://gpnews.noova.de/{{timestamp}}/atom</a><br />
    <a href="http://gpnews.noova.de/{{timestamp}}/html/">http://gpnews.noova.de/{{timestamp}}/html/</a>
  </td></tr>
</table>
-->
<br/><br/>
<form method=POST action="/">
  {% csrf_token %}
  <table style="width:100%;">
    <tr><td>
<textarea rows="15" style="width:99%; overflow:hidden; border-style:dotted;" name='sources'>
{% for source in sources %}{{source.url}}
{%endfor%}</textarea>
</td></tr>
<tr><td>
<textarea rows="2" style="width:99%; overflow:hidden; border-style:dotted;" name='filters'>
{% for filt in filters %}{{filt.regex}}
{%endfor%}</textarea>
</td></tr>
<tr><td>
    <input type="submit" name="op" value="Erzeugen" /><!--<input type="submit" name="op" value="Validieren">-->
</td></tr>
</table>
</form>

  <br />
  <br />

  <div style="width:800px; ">
    <div id='blubber'><img src="{{MEDIA_URL}}img/spinner.gif" />
    </div>
</div>

{% endblock %}
