<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>configuration</title>
    <style>
      table, th, td
      {
        border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <table>
      {%for item in news %}
      <tr><td><a href="{{item.url}}">{{item.title}}</a> | {{item.updated}}<br/>
    {% autoescape off %}
    {% firstof item.summary item.title %}
    {% endautoescape %}
    {%endfor%}</td></tr></table>
  </body>
</html>
