<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Feed Aggregator</title>

  </head>

  <body>

    <ul style="font-family:sans;font-size: 12px;">
      {% for source,keys in sources %}
        {% if keys == 1 %}
        <li><font color=green>{{source}}</font></li>
        {% else %}
        {% if keys == -1 %}
        <li><font color=red>{{source}}</font></li>
        {% else %}
        <li><font color=yellow>{{source}}{{keys}}</font></li>
        {%endif%}
        {%endif%}
      {% endfor %}
  </ul>
  </body>
</html>
