<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>NaFi:  {% block title %}{% trans "Home" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" media="screen" href="{{MEDIA_URL}}css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="{{MEDIA_URL}}css/main.css" />
    <link rel="stylesheet" media="screen" href="{{MEDIA_URL}}css/bootstrap-responsive.min.css" />

    <link rel="alternate" type="application/rss+xml" title="NaFi" href="http://{{request.META.HTTP_HOST}}/{{word}}/rss/" />
    <!-- <link rel="alternate" type="application/atom+xml" title="NaFi" href="http://{{request.META.HTTP_HOST}}/{{word}}/atom/"> -->
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap-modal.js"></script>

  </head>
  <body> <!-- style="width:800px;margin:0px auto;"> -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/{{word}}">NaFi</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">

        {% block content %}{% endblock %}
      </div>
      <footer>
      <p></p>
      <p>
      NaFi
      </p>
      </footer>

    </div>
  </body>
</html>
